<div class="container">
    <div class="row col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
    <form class="form-horizontal" role="form">
        <h2>Registration Form</h2>
        <div class="form-group">
            <label for="fullName" class="col-sm-3 control-label">Full Name</label>
            <div class="col-sm-9">
                <input ng-model="vm.user.fullName" type="text" id="fullName" class="form-control" autofocus>
            </div>
        </div>

        <div class="form-group">
            <label for="userId" class="col-sm-3 control-label">UserId</label>
            <div class="col-sm-9">
                <input ng-model="vm.user.userId" type="text" id="userId" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input ng-model="vm.user.password" type="password" id="password" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="about" class="col-sm-3 control-label">About Yourself</label>
            <div class="col-sm-9">
                <textarea ng-model="vm.user.about" id="about" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="dob" class="col-sm-3 control-label">Date of Birth</label>
            <div class="col-sm-9">
                <input ng-model="vm.user.dob" type="date" id="dob" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Sex</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" ng-model="vm.user.sex" name="sex" id="femaleRadio" value="female">Female
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" ng-model="vm.user.sex" name="sex" id="maleRadio" value="male">Male
                        </label>
                    </div>
                </div>
            </div>
        </div> <!-- /.form-group -->

        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button ng-click="vm.register()" type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-4">
                <span>Already have an account? Please <a href="#/login">Login</a></span>
            </div>
        </div>
    </form> <!-- /form -->
    </div>
</div> <!-- ./container -->